Source: pop-transition
Section: python
Priority: optional
Maintainer: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper-compat (= 12), 
               dh-python, 
               python3-setuptools, 
               python3-all,
               python3-gi,
               gir1.2-gtk-3.0,
               gir1.2-flatpak-1.0,
               libflatpak-dev
Standards-Version: 4.4.1
Homepage: https://github.com/pop-os/pop-transition
Vcs-Git: https://github.com/pop-os/pop-transition.git

Package: pop-transition
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
         python3-gi,
         libflatpak-dev,
         gir1.2-gtk-3.0,
         gir1.2-flatpak-1.0
Description: Pop!_OS Deb-to-Flatpak Migration Assistant
 Checks the current installation for installed debian pakcages which have been 
 dropped from the Pop!_OS repository, and suggests installing Flatpak versions
 of those packages instead. 
 .
 This package installs the application for Python 3.

Package: pop-transition-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Pop!_OS Deb-to-Flatpak Migration Assistant (common documentation)
 Checks the current installation for installed debian pakcages which have been 
 dropped from the Pop!_OS repository, and suggests installing Flatpak versions
 of those packages instead. 
 .
 This is the common documentation package.
